.end-section {
   padding-bottom: 3vw;
}

.card-title, .card-title-activite, .card-title-hebergement {
    font-size: 0.7rem;
    font-weight: 600;
}

.card-populaire:hover, .card-hebergement:hover, .card-activite:hover {
    transform: translateY(-.625rem);
    transition: 0.5s;
}

/****** Header - start ******/

header {
    padding-bottom: 2vw;
}

.logo {
    margin-top: 2vw;
    margin-left: 3vw;
}

.menu {
    width: 100%;
    top: 0;
    position: absolute;
}

nav {
    width: 25%;
    margin-right: 0;
}

.list_menu {
    margin: 0;
    align-items: center;
}

.list_menu li {
    padding-top: 2vw;
}

.list_menu li:hover {
    border-bottom: none;
    border-top: 2px solid var(--color-primary);
    padding-top: 1.85vw;
}

.inscription {
    margin: 0;
}

.inscription a {
    margin-right: 5vw;
    padding-top: 2vw;
}

.padding {
    padding-left: 3vw;
    padding-right: 3vw;
}

/****** Header - end ******/

/****** Recherche - start ******/

.champ-recherche {
    margin-top: 0;
    width: 35%;
}

.icon-marker {
    width: 40px;
    height: 40px;
}

.input-recherche {
    width: 50%;
    font-size: 1rem;
}

.input-recherche::placeholder {
    font-size: 1.1rem;
    font-weight: 600;
}

.button-search {
    display: unset;
    border: none;
    background: var(--color-primary);
    color: white;
    font-weight: 600;
    padding: 0 1vw;
    border-radius: 0 var(--border-radius-search) var(--border-radius-search) 0;
    font-size: 1rem;
}

.icon-search {
    display: none;
}

/****** Recherche - end ******/

/****** Filtres - start ******/

.filtres h3 {
    display: inline-flex;
    padding-right: 3vw;
}

.bouton-filtre {
    margin-bottom: 2vw;
}

.bouton-filtre:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-secondary);
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 0.5s;
}

.filtre-value {
    height: 46px;
    font-size: 1rem;
}

.icon-filtre {
    height: 50px;
    width: 50px;
    font-size: 1.2rem;
}


/****** Filtres - end ******/

/****** section des hebergements - start ******/

.global-hebergement {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
}

.populaires, .hebergement {
    border-radius: var(--border-radius-search);
}

.card-populaire, .card-hebergement {
    margin: 1vw 0;
}

.titre {
    padding-top: 1vw;
}

.titre i, .titre h2 {
    font-size: 1rem;
}

/****** section des hebergements - end ******/

/****** Populaires - start ******/

.populaires {
    width: 24%;
}

.card-populaire {
    height: 10vw;
    border-right: none;
}

.info-populaire {
    padding: .6vw;
    padding-left: 1.1vw;
}

.card-content{
    margin-bottom: 0.7vw;
}

.card-content {
    font-size: 0.6rem;
    margin: 0;
}

.card-title {
    margin-bottom: 1vw;
}

/****** Populaires - end ******/

/****** Hébergement - start ******/

.hebergement {
    width: 60%;
    background: var(--background-color);
}

.card-hebergement {
    width: 30%;
    height: 14vw;
    border-bottom: none;
}

.info-hebergement {
    height: 4vw;
    padding: .6vw;
    padding-left: .9vw;
}

.card-content-hebergement {
    font-size: 0.6rem;
    padding-top: 0;
    padding-bottom: 0;
}

.card-rate {
    font-size: 0.5rem;
}

.plus-hebergement {
    margin-top: 2vw;
}

/****** Hébergement - end ******/

/****** Activités - start ******/

.card-activite {
    margin-top: 0;
    width: auto;
    height: 30vw
}

.card-activite-2 {
    height: 47%;
}

.card-activite-height-51{
    height: 51%;
}

.card-activite-height-42{
    height: 42%;
}

.block-cards-activite {
    display: flex;
    justify-content: space-between;
    width: 48%;
    height: 30vw;
}

.sous-block-cards-activite {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-activite {
    padding-left: 2vw;
    height: 4vw;
}

.image-activite-height-full {
    height: 26vw;
}

.image-activite-height-75 {
    height: 11vw;
}

.image-activite-height-67 {
    height: 8.5vw;
}

.image-activite-height-70 {
    height: 10vw;
}



/****** Activités - end ******/

/****** Footer - start ******/

footer {
    padding: 3vw 6vw;
    justify-content: space-between;
}

.liens-footer {
    width: 33%;
    line-height: 2.5vw;
    font-size: .8rem;
}

.liens-footer a:first-child {
    margin-bottom: 1vw;
    font-size: .9rem;
}

/****** Footer - end ******/