/***** Global - start *****/

header {
    height: unset;
}

.end-section {
    padding-bottom: 7vw;
}

.global-cards-populaire, .global-cards-hebergement, .global-cards-activite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/***** Global - end *****/

/***** Menu - start *****/

nav {
    width: 50%;
    margin-right: 2vw;
}

.menu {
    flex-direction: unset;
    justify-content: flex-end;
}

.list_menu li {
    border: none;
    padding-bottom: 0;
}

/***** Menu - end *****/

/***** Recherche - start *****/

.champ-recherche {
    width: 50%;
    margin-top: 7vw;
}

.icon-search{
    left: 45%;
}

/***** Recherche - end *****/

/***** Filtre - start *****/

.bouton-filtre {
    margin-right: 2vw;
}

.information {
    margin-top: 0;
}
/***** filtre - end *****/

/***** Populaire - start *****/

.titre {
    padding-top: 3vw;
}


.card-populaire {
    width: 41vw;
    height: 18vw;
}

.info-populaire {
    padding: 2vw;
}

/***** Populaire - end *****/

/***** Hebergement - start *****/

.global-hebergement {
    padding: 0;
}

.card-hebergement {
    width: 39vw;
    height: 31vw;
}

.info-hebergement {
    padding: 2vw;
}

.plus-hebergement {
    margin-top: 7vw;
}

/***** Hebergement - end *****/

/***** Activite - start *****/

.card-activite {
    width: 40vw;
    height: 35vw;
    margin-top: 3vw;
}

.image-activite {
    height: 80%;
}

.info-activite {
    padding-left: 3vw;
}

.titre-activite {
    margin-bottom: 0;
}

.plus-activite {
    margin-top: 7vw;
}

/***** Activite - end *****/


footer {
    padding: 5vw 5vw;
    display: flex;
    justify-content: space-around;
}

.liens-footer a:first-child {
    margin-bottom: 2vw;
}

.liens-footer {
    width:auto;
    line-height: 4vw;
    margin-bottom: 0;
}